body{
    font-family: Arial, Helvetica, sans-serif;
}

.main-container{
    display: flex;
    justify-content: space-evenly;
    margin: -1px;
}

.navbar{
    /* display: flex;
    justify-content: center; */
    font-size: 20px;    
    margin-top: auto;
}

.navbar ul{
    display: flex;
    gap: 50px;
    padding: 1px;
}

.navbar ul li:hover{
    background-color: rgb(164, 174, 164);
    border-radius: 10px;
    cursor: pointer;  
    border-radius: 1px; 
     
}

.navbar ul li {
    list-style: none;
}
#req-btn{
    background: white;
    /* border: none; */
    border-radius: 10px;
    padding: 20px 1rem;
    color: black;
    cursor: pointer;
    font-size: 15px;
    margin-top: -10px;
}

#req-btn:hover{
    background-color: rgb(164, 174, 164);
    border-radius: 10px;
    cursor: pointer;
}

.text{
    width: 800px;
    height: 800px;
    padding-left: 16%;
}

#h1{
    font-size: 60px;
    letter-spacing: 4px;
    
}

#p{
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    
}

#book{
     background: black;
    border-radius: 10px;
    margin-top: 20px;
    color: white;
    font-size: 22px;
    width: 35%;
    height: 60px;
}

.speaker{
    margin-left: 80%;
    margin-top: -55%;}

.footer{
    display: flex;
    background-color: black;
    flex-direction: row;
    justify-content: center;
    gap: 80px;
    margin-top: -10%;
    background-color: aliceblue;
}

